// color 

$color-green-1: #0f6c32;
$color-green-2: #1a7900;
$color-green-3: #156100;

$color-blue-1: #0066cc;
$color-blue-2: #1883db;

$color-bgr-white-1: #f4f6fa;
$color-bgr-white-2: #ddebd9;
$color-bgr-white-3: #ffffff;
$color-bgr-white-4: #f2f2f2;

$color-border-white-1:#efeff4;


$color-text-black-1: #161616;
$color-text-black-2: #333333;
$color-text-black-3: #8e8e8e;
$color-text-black-4: #61617a;

$color-text-white-1: #ffffff;

$color-red-1: #cf1322;


// font-size 
$fs-10: 10px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-17: 17px;
$fs-18: 18px;
$fs-19: 19px;
$fs-20: 20px;
$fs-21: 21px;
$fs-22: 22px;

// font-weigh
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;